fastapi
uvicorn

langchain==0.2.14
langchain-core==0.2.32
langchain-community==0.2.12
langchain-openai==0.1.22

langchain-groq
langchain-huggingface
langchain-pinecone

pinecone-client>=3.0.0

chromadb
pymupdf
python-multipart

pydantic
pytest
